@import "effects";
#careusel {
  width: 85%;
  margin: auto;
  .cards {
    padding: 1rem;

    .card {
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      display: flex;
      position: relative;
      width: fit-content;
      margin: auto;
      justify-content: center;
      align-items: center;
      background-color: $primary-color;
      font-family: sans-serif;
      flex-direction: column;
      color: white;
      margin-right: 1rem;
      line-height: 1.5;
      img {
        margin-top: 0.2rem;
        border-radius: 0.5rem;
      }
      &:hover,
      &:focus,
      &:active {
        -webkit-animation-name: hvr-bob-float, hvr-bob;
        animation-name: hvr-bob-float, hvr-bob;
        -webkit-animation-duration: 0.3s, 1.5s;
        animation-duration: 0.3s, 1.5s;
        -webkit-animation-delay: 0s, 0.3s;
        animation-delay: 0s, 0.3s;
        -webkit-animation-timing-function: ease-out, ease-in-out;
        animation-timing-function: ease-out, ease-in-out;
        -webkit-animation-iteration-count: 1, infinite;
        animation-iteration-count: 1, infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-direction: normal, alternate;
        animation-direction: normal, alternate;
        -webkit-box-shadow: 5px 15px 21px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 15px 21px 5px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 15px 21px 5px rgba(0, 0, 0, 0.75);
      }

      .card-content {
        margin-left: 0.2rem;
      }
    }
  }
  hr.style-seven {
    overflow: visible;
    /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    &:before {
      /* Not really supposed to work, but does */
      display: block;
      content: "";
      height: 30px;
      margin-top: -31px;
      border-style: solid;
      border-color: black;
      border-width: 0 0 1px 0;
      border-radius: 20px;
    }
  }
}

/* slick CSS */
.slick-arrow {
  &:hover,
  &:focus,
  & {
    background-color: $primary-color;
    border-radius: 50%;
  }
}
