@import "effects";
.careusel-cse {
  overflow: visible;
  width: 85%;
  margin: auto;
  .cards {
    .card {
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      display: flex;
      position: relative;
      width: fit-content;
      min-height: 400px;
      margin: 1rem;
      justify-content: center;
      align-items: center;
      // background-color: #ddaaac;
      background-color: rgba($color: $primary-color, $alpha: 0.85);
      transition: all 0.5s;
      font-family: sans-serif;
      flex-direction: column;
      color: white;
      margin-right: 1rem;
      line-height: 1.5;
      border-radius: 0.5rem;
      .card-img-div {
        overflow: hidden;
      }

      img {
        border-radius: 0.5rem;
        width: 100%;
        min-height: 200px;
        aspect-ratio: 3/2;
        object-fit: contain;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          scale: 1.5;
        }
      }
      &:hover,
      &:focus,
      &:active {
        -webkit-animation-name: hvr-bob-float, hvr-bob;
        animation-name: hvr-bob-float, hvr-bob;
        -webkit-animation-duration: 0.3s, 1.5s;
        animation-duration: 0.3s, 1.5s;
        -webkit-animation-delay: 0s, 0.3s;
        animation-delay: 0s, 0.3s;
        -webkit-animation-timing-function: ease-out, ease-in-out;
        animation-timing-function: ease-out, ease-in-out;
        -webkit-animation-iteration-count: 1, infinite;
        animation-iteration-count: 1, infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-direction: normal, alternate;
        animation-direction: normal, alternate;
        -webkit-box-shadow: 5px 15px 21px 5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 15px 21px 5px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 15px 21px 5px rgba(0, 0, 0, 0.75);
        background-color: $primary-color;
      }
    }
    &:last-child {
      position: relative;
      margin-inline: auto;
      margin-top: auto;
      .btn-1 {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        color: #ea5d61;
        font-size: 20px;
        background: #ffffff;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        outline: none;
        border: none;
        position: absolute;
        bottom: 0.5rem;
        translate: -50px 0;
        // left: 150px;
        // margin-top: auto;
        // margin-right: 1.5rem;
        &:hover {
          background: #ffffff;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    .card-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}
hr.style-seven {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  &:before {
    /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }
}

/* slick CSS */
.slick-arrow {
  &:hover,
  &:focus,
  & {
    background-color: $primary-color;
    border-radius: 50%;
  }
}

// .card {
//   background-color: $primary-color;
//   .card-img-div {
//     img {
//       width: 100%;
//       aspect-ratio: 4/2;
//       object-fit: contain;
//     }
//   }
//   .card-content {
//   }
// }
