/*   Dashboard Styles */
.dashboard-container {
  overflow: hidden;
  a,
  a:active,
  a:visited {
    color: black;
  }
  display: flex;

  .side-nav {
    border-right: 2px solid $primary-color;
    margin: 4rem;
    .side-nav-item {
      margin: 5rem;

      .side-nav-course-dropdown {
        display: none;
        padding-block: 1rem;
        margin-top: 0;
        position: relative;
        padding-left: 2rem;
        ul {
          text-align: left;
          li {
            list-style: none;
            margin-block: 0.5rem;
          }
        }
      }
      & > a {
        display: inline-block;
        padding-block: 1rem;
        padding-left: 2rem;
        border-radius: 2rem;
        background-color: inherit;
        width: 150%;
        color: black;
        font-weight: 500;
        transition: color, border-bottom, background-color 0.5s;

        &:hover {
          background-color: rgba($color: gray, $alpha: 0.2);
        }
        i {
          color: $primary-color;
        }
      }
    }
  }
}

.analytics-dashboard {
  padding: 5rem;
  text-align: center;
  width: 80%;
}

.dashboard-content-item-1 {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.item-d {
  margin: 2rem;
  padding: 2rem;
  & > p {
    margin: 0.5rem;
  }
}

// .enroll-class {
//   margin: 2rem;
//   padding: 1rem;
//   display: flex;
//   justify-content: space-around;
//   text-align: start;
//   border-left: 3px solid #b52863;
//   &:hover {
//     background-color: #eaf0f0;
//   }
// }

.enroll-class {
  display: grid;
  transition: all 0.5s;
  padding-block: 1rem;
  margin-block: 2rem;
  align-items: center;
  // justify-content: center;
  grid-template-columns: 45% 15% 15% 15%;
  margin-bottom: 1rem;
  border-left: 3px solid #b52863;

  &:first-child {
    display: flex;
    flex-direction: column;
  }
  &:last-child,
  &:nth-last-child(2) {
    // display: flex;
    align-items: center;
  }
  &:hover {
    background-color: #eaf0f0;
    border-radius: 2rem;
  }
}
.btn-dashboard {
  background: #f711a3;
  background-image: -webkit-linear-gradient(top, #f711a3, #b52863);
  background-image: -moz-linear-gradient(top, #f711a3, #b52863);
  background-image: -ms-linear-gradient(top, #f711a3, #b52863);
  background-image: -o-linear-gradient(top, #f711a3, #b52863);
  background-image: linear-gradient(to bottom, #f711a3, #b52863);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 12px 20px 10px 20px;
  text-decoration: none;
  outline: none;
  border: none;
  &:hover {
    background: #f788b0;
    background-image: -webkit-linear-gradient(top, #f788b0, #d649a5);
    background-image: -moz-linear-gradient(top, #f788b0, #d649a5);
    background-image: -ms-linear-gradient(top, #f788b0, #d649a5);
    background-image: -o-linear-gradient(top, #f788b0, #d649a5);
    background-image: linear-gradient(to bottom, #f788b0, #d649a5);
    text-decoration: none;
    cursor: pointer;
  }
}
a {
  text-decoration: none;
  margin-top: 5%;
}


/* circular progress bar dashboard */


.circular-prgress{

  position: relative;
  height: 200px;
  width: 200px;
  background-color: #f711a3;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-prgress:before{

  content: "";
  position: absolute;
  height: 87%;
  width: 87%;
  background-color: white;
  border-radius: 50%;

}

ul {
  li {
    text-decoration: none;
  }
}

.value-container{
  position: relative;
  font-size: 50px;
}