/*   Dahsboard Styles */
.dashboard-container {
  display: flex;
}

.side-nav {
  border-right: 2px solid gray;
  margin: 4rem;
  width: 20%;
}

.side-nav > div {
  margin: 5rem;
}

.side-nav-item > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-bottom: none;
  border-bottom-width: 0;
  transition: color 0.5s, border-bottom 0.5s;
}

.analytics-dashboard {
  padding: 5rem;
  text-align: center;
  width: 80%;
}

.analytics-heading {
  /* margin-left: 2rem; */
}

.dashboard-content-item-1 {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.item-d {
  margin: 2rem;
  border: 1px solid gray;
  padding: 2rem;
}

.item-d > p {
  margin: 0.5rem;
}

.enroll-class {
  margin: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  text-align: start;
  border-left: 3px solid #b52863;
}
.enroll-class:hover {
  background-color: #eaf0f0;
}

.btn-dashboard {
  background: #f711a3;
  background-image: -webkit-linear-gradient(top, #f711a3, #b52863);
  background-image: -moz-linear-gradient(top, #f711a3, #b52863);
  background-image: -ms-linear-gradient(top, #f711a3, #b52863);
  background-image: -o-linear-gradient(top, #f711a3, #b52863);
  background-image: linear-gradient(to bottom, #f711a3, #b52863);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 12px 20px 10px 20px;
  text-decoration: none;
}

.btn-dashboard:hover {
  background: #f788b0;
  background-image: -webkit-linear-gradient(top, #f788b0, #d649a5);
  background-image: -moz-linear-gradient(top, #f788b0, #d649a5);
  background-image: -ms-linear-gradient(top, #f788b0, #d649a5);
  background-image: -o-linear-gradient(top, #f788b0, #d649a5);
  background-image: linear-gradient(to bottom, #f788b0, #d649a5);
  text-decoration: none;
  cursor: pointer;
}

/* Styles for particular course when student clicks on GO TO course */
