.home-page {
  .landing-page {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    justify-content: space-around;
    margin-top: 7rem;
    .landing-page-information {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem 5rem;

      h1 {
        font-size: 3rem;
        font-weight: normal;
        margin-right: auto;
      }
      span {
        color: white;
      }
      p {
        margin-top: 1.5rem;
        font-size: large;
        color: #a2a1a3;
      }
      button#submit-signUp {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        border-radius: 1rem;
        margin-right: auto;
        margin-top: 1rem;
        border: none;
        outline: none;
        color: white;
        background-color: white;
        transition: background-color 1s;
        &:hover {
          background-color: #ea5d62d0;
          cursor: pointer;
        }
      }
    }
    .landing-page-img {
      img {
        width: 80%;
      }
    }
  }
  .features {
    line-height: 1.5;
    display: grid;
    /* grid-template-columns: 33vw 50vw; */
    grid-template-columns: 30vw 54vw;
    justify-content: center;
    padding-block: 5rem;
    p {
      color: #919092;
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
  .features-text {
    .features-text-div {
      width: 50%;

      h2 {
        font-size: 2.2rem;
        font-weight: normal;
      }
      span {
        color: $primary-color;
        font-size: 2.2rem;
      }
    }
  }
  .features-details {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1rem;
    row-gap: 2.5rem;
  }
  .banner {
    background-color: $primary-color;
    font-size: 1.4rem;
    font-weight: normal;
    color: white;
    width: 80vw;
    height: 10rem;
    display: flex;
    margin: auto;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    div {
      width: 43%;
    }
    .btn-1 {
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      color: #ea5d61;
      font-size: 20px;
      background: #ffffff;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      outline: none;
      border: none;
      margin-right: 1.5rem;
      &:hover {
        background: #ffffff;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .btn-2 {
      -webkit-border-radius: 22;
      -moz-border-radius: 22;
      border-radius: 22px;
      color: #ffffff;
      font-size: 20px;
      background: #ea5d61;
      padding: 10px 20px 10px 20px;
      border: solid #ffffff 1px;
      text-decoration: none;
      &:hover {
        background: #ea5d61;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

// .sign-up-btn {
//     padding: .5rem 1rem;
//     font-size: 1.1rem;
//     border-radius: 1rem;
//     margin-right: auto;
//     margin-top: 1rem;
//     border: none;
//     outline: none;
//     color: #ea5d61;
//     background-color: white;
//     transition: background-color 1s;
// }

// .btn-signUp {
//     background-color: #ea5d62d0;
//     height: 35px;
//     color: white;
//     width: 100px;
//     border-radius: 25px;
//     cursor: pointer;
// }

// .btn-signUp:hover {
//     background-color: rgba(63, 60, 60, 0.6);
// }

.sign-in-control input:focus + label span,
.sign-in-control input:valid + label span {
  color: white;
  transform: translateY(-2rem);
}

// Buttons
