.container-pcourse {
  display: grid;
  padding: 3rem;
  width: calc(100vw - 2rem);
  height: 100vh;
  grid-template-columns: 70% 30%;
  justify-content: center;
  gap: 1rem;
  .container-listOfVideos {
    overflow-y: scroll;
    a {
      text-decoration: none;
    }
    button {
      border: none;
      min-width:100%;
      padding: 0.5rem;
      //   background-color: transparent;
      line-height: 1.5;
      transition: .5s;
      &:hover{
        background-color: rgba($color: gray, $alpha: 0.5);

      }
      font: {
        size: 1.2rem;
        weight: normal;
      }
      margin-bottom: 1rem;
      text-align: left;
      cursor: default;
      h3 {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .container-description {
    h2 {
      text-decoration: underline;
    }
    h3 {
      font-weight: 400 !important;
    }
  }
}
