<%-include('partials/header'); -%> <%-include('partials/navbar'); -%>
<section id="careusel">
<center><h1>Programming Languages</h1></center>
<hr class="style-seven">
<div class="cards">
  <div class="card">
    <img src="https://picsum.photos/200" alt="thumbnail" />
    <h2>Programming in C</h2>
    <div class="card-content">
      <p>
        Lorem, ipum sdolor sit amet consectetur adipisicing elit. Ipsa esse amet
        aspernatur enim quisquam, consequatur error aliquid nesciunt eligendi
        maiores.
      </p>
      <h3>@author</h3>
      <button class="btn-1">Explore</button>
    </div>
  </div>
  <div class="card">
    <img src="https://picsum.photos/200" alt="thumbnail" />
    <h2>Programming in C</h2>
    <div class="card-content">
      <p>
        Lorem, ipum sdolor sit amet consectetur adipisicing elit. Ipsa esse amet
        aspernatur enim quisquam, consequatur error aliquid nesciunt eligendi
        maiores.
      </p>
      <h3>@author</h3>
      <button class="btn-1">Explore</button>
    </div>
  </div>
  <div class="card">
    <img src="https://picsum.photos/200" alt="thumbnail" />
    <h2>Programming in C</h2>
    <div class="card-content">
      <p>
        Lorem, ipum sdolor sit amet consectetur adipisicing elit. Ipsa esse amet
        aspernatur enim quisquam, consequatur error aliquid nesciunt eligendi
        maiores.
      </p>
      <h3>@author</h3>
      <button class="btn-1">Explore</button>
    </div>
  </div>
  <div class="card">
    <img src="https://picsum.photos/200" alt="thumbnail" />
    <h2>Programming in C</h2>
    <div class="card-content">
      <p>
        Lorem, ipum sdolor sit amet consectetur adipisicing elit. Ipsa esse amet
        aspernatur enim quisquam, consequatur error aliquid nesciunt eligendi
        maiores.
      </p>
      <h3>@author</h3>
      <button class="btn-1">Explore</button>
    </div>
  </div>
  <div class="card">
    <img src="https://picsum.photos/200" alt="thumbnail" />
    <h2>Programming in C</h2>
    <div class="card-content">
      <p>
        Lorem, ipum sdolor sit amet consectetur adipisicing elit. Ipsa esse amet
        aspernatur enim quisquam, consequatur error aliquid nesciunt eligendi
        maiores.
      </p>
      <h3>@author</h3>
      <button class="btn-1">Explore</button>
    </div>
  </div>
</div>
</section>
<%-include('partials/footer'); -%>
