<!DOCTYPE html>
<html lang="en">

<head <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>
  <script src="https://kit.fontawesome.com/c2be398612.js" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="/css/style.css" /> -->
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>>

  <!-- <%- include('partials/navbar') -%> -->

  <div class="dashboard-container">

    <div class="item side-nav">

      <div class="side-nav-item"><a href="#"><i class="fa-regular fa-grid-2"></i> Dashboard</a></div>
      <div class="side-nav-item"><a href="/myprofile/mydetails"> My profile </a></div>
      <div class="side-nav-item"><a href="/">Home</a></div>
      <div class="side-nav-item"><a href="/logout">Logout</a></div>

    </div>

    <div class="item analytics-dashboard">

      <h1 class="analytics-heading"> Analytics dashboard</h1>

      <div class="dashboard-content">

        <div class="dashboard-content-item-1">
          <div class="item-d">
            <i class="fa-duotone fa-chart-mixed"></i>
            <p> Weekly Engagement</p>
            <p>16 Hours</p>
          </div>
          <div class="item-d">
            <p>Total Courses Registered</p>
            <p>10</p>
          </div>
          <div class="item-d">
            <p>Completed Courses</p>
            <p>5</p>
          </div>

        </div>


        <div class="dashboard-content-item-2">
          <h1> List of enrolled classes </h1>
          <div class="enroll-class">

            <span> <img src="" alt="Image of course">

              <h4>Programming in C and CPP</h4>

            </span>

            <p>Offered by profeesor Om bhatt </p>

            <button class="btn-dashboard"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i> GO to </button>
            <button class="btn-dashboard"> <i class="fa-sharp fa-solid fa-trash"></i> Take Out</button>
          </div>
          <div class="enroll-class">

            <span> <img src="" alt="Image of course">

              <h4>Programming in C and CPP</h4>

            </span>

            <p>Offered by profeesor Om bhatt </p>

            <button class="btn-dashboard"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i> GO to </button>
            <button class="btn-dashboard"> <i class="fa-sharp fa-solid fa-trash"></i> Take Out</button>
          </div>
          <div class="enroll-class">

            <span> <img src="" alt="Image of course">

              <h4>Programming in C and CPP</h4>

            </span>

            <p>Offered by profeesor Om bhatt </p>

            <button class="btn-dashboard"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i> GO to </button>
            <button class="btn-dashboard"> <i class="fa-sharp fa-solid fa-trash"></i> Take Out</button>
          </div>
          <div class="enroll-class">

            <span> <img src="" alt="Image of course">

              <h4>Programming in C and CPP</h4>

            </span>

            <p>Offered by profeesor Om bhatt </p>

            <button class="btn-dashboard"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i> GO
              to </button>
            <button class="btn-dashboard"> <i class="fa-sharp fa-solid fa-trash"></i> Take Out</button>
          </div>
          <div class="enroll-class">

            <span> <img src="" alt="Image of course">

              <h4>Programming in C and CPP</h4>

            </span>

            <p>Offered by profeesor Om bhatt </p>

            <button class="btn-dashboard"><i class="fa-sharp fa-solid fa-arrow-up-right-from-square"></i> GO to </button>
            <button class="btn-dashboard"> <i class="fa-sharp fa-solid fa-trash"></i> Take Out</button>
          </div>




        </div>


      </div>



    </div>

  </div>


  <%-include('partials/footer'); -%>