
<%- include('partials/header') -%>
<%- include('partials/loginNavbar') -%>



<div class="container-pcourse">

    <div class="view">
         



    </div>
    <div class="list-videos"></div>

</div>
























<%- include('partials/footer') -%>