<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">



</head>

<body>

    <div class="container">
        <!-- <h1>Register</h1>
        <form action="/register" method="post">
            <div class="form-control">
                <input type="number" name="registerPrn" required autocomplete="off" pattern="[0-9]{16}" />
                <label>PRN</label>
            </div>
            <div class="form-control">
                <input type="email" required name="registerEmail" autocomplete="off" />
                <label>Email</label>
            </div>
            <div class="form-control">
                <input type="password" name="registerPassword" autocomplete="off" required />
                <label>Password</label>
            </div>
            <div class="form-control">
                <input type="text" required name="registerName" autocomplete="off" />
                <label>Name</label>
            </div>
            <button class="btn">Submit</button>
            <p class="text">Alredy Have Account ?
                <a href="/">Sign In</a>
            </p>
        </form> -->
        
        <div class="box-container">
            <div class="box">
                <form action="/register" method="post" class="sign-up-form" autocomplete="off">
                    <h2>Register</h2>
                    <div class="inputBox">
                        <input type="number" name="registerPrn" required autocomplete="off" pattern="[0-9]{16}" />
                        <span>PRN</span>
                        <i></i>
                    </div>
                    <div class="inputBox">
                        <input type="email" required name="registerEmail" autocomplete="off" />
                        <span>Email</span>
                        <i></i>
                    </div>
                    <div class="inputBox">
                        <input type="password" required name="registerPassword" autocomplete="off" />
                        <span>Password</span>
                        <i></i>
                    </div>
                    <div class="inputBox">
                        <input type="text" required name="registerName" autocomplete="off" />
                        <span>Name</span>
                        <i></i>
                    </div>
    
                    <div class="links">
                        <a href="/">already have account ?</a>
                        <a href="/">Sign-in</a>
                    </div>
                    <input type="submit" value="SignUp">
                </form>
            </div>
        </div>
    </div>

    <!-- <script>
        const labels = document.querySelectorAll(".form-control label");
        labels.forEach((label) => {
            label.innerHTML = label.innerText
                .split("")
                .map(
                    (letter, idx) =>
                        `<span style ="transition-delay:${idx * 100}ms">${letter}</span>`
                )
                .join("");
        });
    </script> -->

</body>

</html>