<footer id="aboutUs">
  <div class="address">
    <h2>MSU</h2>
    <p>Pratapgunj</p>
    <p>Vadodara, Gujarat-390002
    <p>
      <a href="https://www.facebook.com/TheMSUBaroda/"><i class="fa-brands fa-facebook-f icon_logo"></i>&nbsp;&nbsp;</a>
      <a href="https://instagram.com/themsubaroda"><i class="fa-brands fa-instagram icon_logo"></i>&nbsp;&nbsp;</a>
      <a href="https://twitter.com/Themsubaroda?s=09"><i class="fa-brands fa-twitter icon_logo"></i>&nbsp;&nbsp;</a>
    </p>
  </div>
  <div class="take-a-tour">
    <h3>Useful Links</h3>
    <ul>
      <li><a href="https://admission.msubaroda.ac.in/">Admission</a></li>
      <li><a href="https://www.msubaroda.ac.in/MSUB_Exam_Manager">Examination</a></li>
      <li><a href="https://msub.digitaluniversity.ac/">MSUB Dgital</a></li>
      <li><a
          href="https://accounts.google.com/signin/v2/identifier?hd=msubaroda.ac.in&flowEntry=AddSession&flowName=GlifWebSignIn">MSUB
          Webmail</a></li>
    </ul>
  </div>
  <div class="our-company">
    <h3>About Us</h3>
    <ul>
      <li><a href="https://www.msubaroda.ac.in/Vision">Vision</a></li>
      <li><a href="https://www.msubaroda.ac.in/Mission">Mission</a></li>
      <li><a href="https://www.msubaroda.ac.in/University_at_Glance">MSUB at Galnce</a></li>
      <li><a href="https://www.msubaroda.ac.in/Contact_Us">Conntact Us</a></li>
    </ul>
  </div>
  <div class="subscribe">
    <h3>Head Office Working Hours</h3>
    <p></p>
    <pre>
    Day:Monday to Saturday
    Time:10:30 am to 06:10 pm
    Closed On:2nd and 4th Saturday , Sunday ,
    Government Approved Holidays</pre>

  </div>
</footer>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/Javascript/index.js"></script>

<!-- 
</body>

</html> -->