
<div class="navbar">
    <div class="logo">
        <h2><a href="/">MSU</a></h2>
    </div>

    <div class="nav-links">
        <ul class="nav-links-ul" class="nav-links-ul">
            <li><a href="/" style="font-size: larger;">Home</a></li>
            <li class="courses">
                <a href="/">Courses</a>
                <div class="courses-dropdown">
                    <ul class="nav-links-dropdown-ul">
                        <li><a href="/courses/cse" id="li-cse">CSE</a></li>
                        <li><a href="/courses/electrical" id="li-ele">Electrical</a></li>
                        <li><a href="/courses/civil" id="li-civil">Civil</a></li>
                        <li><a href="/courses/mechanical" id="li-mech">Mechanical</a></li>
                        <li><a href="/courses/chemical" id="li-chem">Chemical</a></li>
                    </ul>
                </div>
            </li>
            <li class="courses">
                <a href="">Department</a>
                <div class="courses-dropdown">
                    <ul class="nav-links-dropdown-ul">
                        <li><a href="https://www.msubaroda.ac.in/academics/FTE/department/CSE">dept of CSE</a></li>
                        <li><a href="https://www.msubaroda.ac.in/academics/FTE/department/MECH">dept of  Mechanical</a></li>
                        <li><a href="https://www.msubaroda.ac.in/academics/FTE/department/CLE">dept of  Chemical</a></li>
                        <li><a href="https://www.msubaroda.ac.in/academics/FTE/department/CVL">dept of Civil</a></li>
                        <li><a href="https://www.msubaroda.ac.in/academics/FTE/department/ELEC">dept of Electrical</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#aboutUs" style="font-size: larger;">About Us</a></li>
            <li>
                <div class="profile-btn" id="profileBtn">
                    <i class="fa fa-user-circle-o" style="font-size:48px;color:red"></i>
                    <div class="profile-dropdown">
                        <ul class="myprofile-logo">
                            <li class="profile-logo-li"><a href="/myprofile"> My Account</a></li>
                            <li class="profile-logo-li"><a href="/logout">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>


</div>