<div class="navbar">
  <div class="logo">
    <h2><a href="/">MSU</a></h2>
  </div>

  <div class="nav-links">
    <ul class="nav-links-ul">
      <li><a href=" /">Home</a></li>
      <li class="courses">
        <a href="/"> Courses</a>
        <div class="courses-dropdown">
          <ul class="nav-links-dropdown-ul">
            <li><a href="/courses/cse" id="li-cse">CSE</a></li>
            <li><a href="/courses/electrical" id="li-ele">Electrical</a></li>
            <li><a href="/courses/civil" id="li-civil">Civil</a></li>
            <li><a href="/courses/mechanical" id="li-mech">Mechanical</a></li>
            <li><a href="/courses/chemical" id="li-chem">Chemical</a></li>
          </ul>
        </div>
      </li>
      <li class="courses">
        <a href=""> Department</a>
        <div class="courses-dropdown">
          <ul class="nav-links-dropdown-ul">
            <li><a href="https://www.msubaroda.ac.in/academics/FTE/department/CSE">dept of CSE</a></li>
            <li><a href="https://www.msubaroda.ac.in/academics/FTE/department/MECH">dept of Mechanical</a></li>
            <li><a href="https://www.msubaroda.ac.in/academics/FTE/department/CLE">dept of Chemical</a></li>
            <li><a href="https://www.msubaroda.ac.in/academics/FTE/department/CVL">dept of Civil</a></li>
            <li><a href="https://www.msubaroda.ac.in/academics/FTE/department/ELEC">dept of Electrical</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#aboutUs">About Us</a></li>
      <li><button class="btn-2 signUp-button"><i class="fa-solid fa-right-to-bracket"></i>&nbsp; Sign In</button></li>
    </ul>
  </div>


</div>

<!-- Pop-up for sign-in and sign-up -->
<div class="popup" id="popup">
  <div class="popup-content">

    <!-- <a href="#!"><img src="https://cdn3.iconfinder.com/data/icons/pyconic-icons-1-2/512/close-512.png" alt="Close" class="close" id="close"></a> -->

    <!-- ************************************** old form code ****************************** -->

    <!-- <form action="/" method="post">
      <div class="sign-in-control">
        <input type="text" required name="emailSignIn">
        <label for="" style="color: white;">Your Email</label>
      </div>

      <div class="sign-in-control">
        <input type="password" required name="passSignIn">
        <label for="">Your password</label>
      </div>


      <button type="submit" class="btn-signUp-popup" id="submit-signUp">Submit</button>


    </form> -->

    <!-- <form method="get" action="/register" class="inline">
      <input type="hidden" name="extra_submit_param" value="extra_submit_value">
      <button type="submit" name="submit_param" value="submit_value" class="link-button">
        Don't have account ?
      </button>

    </form> -->

    <!-- ************************************************************************************* -->

    <!-- ****************** new form code ************************ -->
    <div class="box-container">
      <div class="box" style="height: 410px;">
        <form action="/" class="sign-up-form" method="post" autocomplete="off">
          <h2>Login</h2>
          <div class="inputBox">
                      <input type="text" required name="emailSignIn">
            <span>Your Email</span>
            <i></i>
          </div>
          <div class="inputBox">
                      <input type="password" required name="passSignIn">
            <span>Your password</span>
            <i></i>
          </div>
  
          <div class="links">
            <a href="/register">don't have account ? </a>
          </div>
          <input type="submit" value="Login">
          <a href="#" id="close"><i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        </form>
      </div>
    </div>

  </div>
</div>