<div class="navbar" onscroll="onScroll()">
  <div class="logo">
    <h2>MSU</h2>
  </div>
  <div class="nav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li class="courses">
        <a href="#">Courses</a>
        <div class="courses-dropdown">
          <ul>
            <li><a href="/courses/cse" id="li-cse">CSE</a></li>
            <li><a href="/courses/electrical" id="li-ele">Electrical</a></li>
            <li><a href="/courses/civil" id="li-civil">Civil</a></li>
            <li><a href="/courses/mechanical" id="li-mech">Mechanical</a></li>
            <li><a href="/courses/chemical" id="li-chem">Chemical</a></li>
          </ul>
        </div>
      </li>
      <li class="courses">
        <a href="">Department</a>
        <div class="courses-dropdown">
          <ul>
            <li><a href="#">BE-I</a></li>
            <li><a href="#">BE-II</a></li>
            <li><a href="#">BE-III</a></li>
            <li><a href="#">BE-IV</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#aboutUs">About Us</a></li>
      <li><button class="btn-2 signUp-button">Sign Up</button></li>
    </ul>
  </div>
</div>
